extends layout 
 
block content 
  h1= title 
 
  if (toShow == null) 
    h2 No instance to delete 
  else 
    - let electricityid = toShow._id 
    - let Edistributor_Name = toShow.Edistributor_Name
    - let electricity_gen = toShow.electricity_gen
    - let elctricity_type = toShow.elctricity_type
    - let actionid = "/resource/electricity/" + electricityid 
    script let actionid = "#{actionid}" 
    div 
      div.row 
        div(class='electricityAttr mr-3') Electricity ID is: 
        div #{electricityid} 
      div.row 
        div(class='electricityAttr mr-3') Edistributor Name is: 
        div #{Edistributor_Name} 
      div.row 
        div(class='electricityAttr mr-3') Electricity Gen is: 
        div #{electricity_gen} 
      div.row 
        div(class='electricityAttr mr-3') Electricity Type is: 
        div #{elctricity_type} 
 
    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete 
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel 
 
  script. 
    function cancel() { 
      // Go back to the home page for the electricity collection 
      window.location.href='/electricity' 
    } 
  script. 
    function deleteOnid() { 
      console.log("starting delete") 
      // delete first 
      fetch(actionid, { 
        method: 'DELETE'      // Don't need a body for the delete 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Delete succeded") 
        window.location.href='/electricity' 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Delete failed " + error ) 
      }); 
    } 